<div class="row">
  <div class="col-md-5 col-md-offset-3">
    <h2>Search For Series By Name</h2>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Name of serie" aria-describedby="basic-addon1">
      <div class="input-group-btn">
      <button class="btn btn-default">Search! <i class="fa fa-search hvr-icon-pulse myIcon" aria-hidden="true"></i></button>
      </div>
    </div>
    <!--<ul class="list-group">-->
      <!--<li class="list-group-item"-->
          <!--*ngFor="let record of recordSeries">-->
        <!--<p class="category">The Id Is: <span>{{record.id}}</span></p>-->
        <!--<p class="category">Series Name: <span>{{record.seriesName}}</span></p>-->
        <!--<p class="category">Channel: <span>{{record.channel}}</span></p>-->
        <!--<p class="category">Category: <span>{{record.category}}</span></p>-->
        <!--<p class="category"> Season: <span>{{record.season}}</span></p>-->
      <!--</li>-->
    <!--</ul>-->
  </div>
</div>
